* {
    --paradise-green: #4c6b16;
    --paradise-green-hover: #6c9722;
    --soft-black: #363636;
    --bg-color: #e9f5ec;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: var(--soft-black);
}

.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 91%;
    background: white;
    box-shadow: -2px 0 10px #0000004d;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px 0 0 0;
}

.cart-page {
    height: 100%;
    border: 1px solid #c7c7c7;
    justify-content: center;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #00000033;
    padding: 20px;
}

.cart-page h2 {
    padding-bottom: 20px;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px #0000005b;
}

.cart-item img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    object-position: center;
}

.empty-cart-p {
    font-size: 1.5rem;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.item-description h4 {
    font-size: 1.2rem;
}

.remove-button {
    font-size: 1rem;
    padding: 6px 12px;
    background-color: #e66567;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.remove-button:hover {
  background-color: #f18684;
}

.amount-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}

.cart-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cart-footer button {
    margin-top: 20px;
    padding: 10px 50px;
    border: none;
    background: var(--paradise-green);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background 0.3s ease;
}

.cart-footer button:hover {
    background: var(--paradise-green-hover);
}