* {
  --paradise-green: #4c6b16;
  --paradise-green-hover: #6c9722;
  --soft-black: #363636;
  --bg-color: #e9f5ec;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: var(--soft-black);
}

.hero-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.plant {
  position: absolute;
  width: 300px;
  height: auto;
  pointer-events: none;
  opacity: 0.9;
}

.plant-left {
  object-fit: contain;
  height: 900px;
  width: auto;

  bottom: -200px;
  left: -330px;
}

.plant-right {
  object-fit: contain;
  height: 900px;
  width: auto;

  bottom: -130px;
  right: -380px;
}

.hero-content {
  position: relative;
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.hero-content h1 {
  font-family: Birthstone;
  font-size: 5.5rem;
  color: var(--paradise-green);
  margin-bottom: 50px;
}

.big-text {
  font-size: 5.5rem;
  font-weight: 300;
  color: var(--paradise-green);
}

.hero-content p:first-of-type {
  font-size: 3.5rem;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 8rem;
}

.hero-content p:last-of-type {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 300;
  line-height: 2.4rem;
}

.hero-content button {
  margin-top: 20px;
  padding: 10px 90px;
  border: none;
  background: var(--paradise-green);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background 0.3s ease;
}

.hero-content button:hover {
  background: var(--paradise-green-hover);
}


.product-list {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  transition: top 0.5s ease;
  overflow-y: auto;
  z-index: 10;
}

.product-list.visible {
  top: 0;
}